/* .ag-theme-quartz { */
  /* Changes the color of the grid text */
    /* --ag-foreground-color: rgb(16, 100, 9); */
    /* Changes the color of the grid background */
    /* --ag-background-color: rgb(241, 255, 245); */
    /* Changes the header color of the top row */
    /* --ag-header-background-color: rgb(228, 250, 235); */
    /* Changes the hover color of the row*/
    /* --ag-row-hover-color: rgb(216, 255, 229); */
/* } */

.customer_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
